@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: 4;
  }

  16.666% {
    opacity: 0;
    z-index: 4;
  }

  50% {
    opacity: 0;
    z-index: -1;
  }

  51% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
}
@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-webkit-keyframes fadeOutUpBig {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
}
@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-webkit-keyframes fadeOutDownBig {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
}
@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-webkit-keyframes fadeOutLeftBig {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
}
@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-webkit-keyframes fadeOutRightBig {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}
@-webkit-keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
  }

  80% {
    -webkit-transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}
@-webkit-keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
  }

  80% {
    -webkit-transform: translateX(10px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
  }

  80% {
    -webkit-transform: translateX(-10px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-webkit-keyframes bounceOut {
  0% {
    -webkit-transform: scale(1);
  }

  25% {
    -webkit-transform: scale(0.95);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }
}
@-webkit-keyframes bounceOutUp {
  0% {
    -webkit-transform: translateY(0);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
}
@-webkit-keyframes bounceOutDown {
  0% {
    -webkit-transform: translateY(0);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
}
@-webkit-keyframes bounceOutLeft {
  0% {
    -webkit-transform: translateX(0);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
}
@-webkit-keyframes bounceOutRight {
  0% {
    -webkit-transform: translateX(0);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
}
@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
  }

  20% {
    -webkit-transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
  }

  50% {
    -webkit-transform: translateY(0);
  }

  60% {
    -webkit-transform: translateY(-15px);
  }

  80% {
    -webkit-transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0);
  }

  10% {
    -webkit-transform: translateX(-10px);
  }

  20% {
    -webkit-transform: translateX(10px);
  }

  30% {
    -webkit-transform: translateX(-10px);
  }

  40% {
    -webkit-transform: translateX(10px);
  }

  50% {
    -webkit-transform: translateX(-10px);
  }

  60% {
    -webkit-transform: translateX(10px);
  }

  70% {
    -webkit-transform: translateX(-10px);
  }

  80% {
    -webkit-transform: translateX(10px);
  }

  90% {
    -webkit-transform: translateX(-10px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-webkit-keyframes rotateInDownLeft {
  0% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(-90deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}
@-webkit-keyframes rotateInUpLeft {
  0% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(90deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}
@-webkit-keyframes rotateInUpRight {
  0% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(-90deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}
@-webkit-keyframes rotateInDownRight {
  0% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(90deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}
@-webkit-keyframes rotateOutDownLeft {
  0% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }

  100% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(90deg);
    opacity: 0;
  }
}
@-webkit-keyframes rotateOutUpLeft {
  0% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }

  100% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(-90deg);
    opacity: 0;
  }
}
@-webkit-keyframes rotateOutDownRight {
  0% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }

  100% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(-90deg);
    opacity: 0;
  }
}
@-webkit-keyframes rotateOutUpRight {
  0% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }

  100% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(90deg);
    opacity: 0;
  }
}
@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(-200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}
@-webkit-keyframes rotateOut {
  0% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(0);
    opacity: 1;
  }

  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(200deg);
    opacity: 0;
  }
}
@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1);
  }

  10% {
    -webkit-transform: scale(0.9) rotate(-3deg);
  }

  20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
  }

  30% {
    -webkit-transform: scale(1.1) rotate(3deg);
  }

  40% {
    -webkit-transform: scale(1.1) rotate(-3deg);
  }

  50% {
    -webkit-transform: scale(1.1) rotate(3deg);
  }

  60% {
    -webkit-transform: scale(1.1) rotate(-3deg);
  }

  70% {
    -webkit-transform: scale(1.1) rotate(3deg);
  }

  80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
  }

  90% {
    -webkit-transform: scale(1.1) rotate(3deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0);
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-moz-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
  }

  100% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-moz-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
  }

  100% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }
}
@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-moz-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }

  100% {
    opacity: 0;
    -moz-transform: translateX(-20px);
  }
}
@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-moz-keyframes fadeOutRight {
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }

  100% {
    opacity: 0;
    -moz-transform: translateX(20px);
  }
}
@-moz-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -moz-transform: translateY(2000px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-moz-keyframes fadeOutUpBig {
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
  }

  100% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }
}
@-moz-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-moz-keyframes fadeOutDownBig {
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
  }

  100% {
    opacity: 0;
    -moz-transform: translateY(2000px);
  }
}
@-moz-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -moz-transform: translateX(2000px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-moz-keyframes fadeOutLeftBig {
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }

  100% {
    opacity: 0;
    -moz-transform: translateX(-2000px);
  }
}
@-moz-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -moz-transform: translateX(-2000px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-moz-keyframes fadeOutRightBig {
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }

  100% {
    opacity: 0;
    -moz-transform: translateX(2000px);
  }
}
@-moz-keyframes bounceIn {
  0% {
    opacity: 0;
    -moz-transform: scale(0.3);
  }

  50% {
    opacity: 1;
    -moz-transform: scale(1.05);
  }

  70% {
    -moz-transform: scale(0.9);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@-moz-keyframes bounceInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateY(30px);
  }

  80% {
    -moz-transform: translateY(-10px);
  }

  100% {
    -moz-transform: translateY(0);
  }
}
@-moz-keyframes bounceInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(2000px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateY(-30px);
  }

  80% {
    -moz-transform: translateY(10px);
  }

  100% {
    -moz-transform: translateY(0);
  }
}
@-moz-keyframes bounceInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(2000px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-30px);
  }

  80% {
    -moz-transform: translateX(10px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@-moz-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-2000px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(30px);
  }

  80% {
    -moz-transform: translateX(-10px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@-moz-keyframes bounceOut {
  0% {
    -moz-transform: scale(1);
  }

  25% {
    -moz-transform: scale(0.95);
  }

  50% {
    opacity: 1;
    -moz-transform: scale(1.1);
  }

  100% {
    opacity: 0;
    -moz-transform: scale(0.3);
  }
}
@-moz-keyframes bounceOutUp {
  0% {
    -moz-transform: translateY(0);
  }

  20% {
    opacity: 1;
    -moz-transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }
}
@-moz-keyframes bounceOutDown {
  0% {
    -moz-transform: translateY(0);
  }

  20% {
    opacity: 1;
    -moz-transform: translateY(-20px);
  }

  100% {
    opacity: 0;
    -moz-transform: translateY(2000px);
  }
}
@-moz-keyframes bounceOutLeft {
  0% {
    -moz-transform: translateX(0);
  }

  20% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    opacity: 0;
    -moz-transform: translateX(-2000px);
  }
}
@-moz-keyframes bounceOutRight {
  0% {
    -moz-transform: translateX(0);
  }

  20% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    opacity: 0;
    -moz-transform: translateX(2000px);
  }
}
@-moz-keyframes flash {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes bounce {
  0% {
    -moz-transform: translateY(0);
  }

  20% {
    -moz-transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-30px);
  }

  50% {
    -moz-transform: translateY(0);
  }

  60% {
    -moz-transform: translateY(-15px);
  }

  80% {
    -moz-transform: translateY(0);
  }

  100% {
    -moz-transform: translateY(0);
  }
}
@-moz-keyframes shake {
  0% {
    -moz-transform: translateX(0);
  }

  10% {
    -moz-transform: translateX(-10px);
  }

  20% {
    -moz-transform: translateX(10px);
  }

  30% {
    -moz-transform: translateX(-10px);
  }

  40% {
    -moz-transform: translateX(10px);
  }

  50% {
    -moz-transform: translateX(-10px);
  }

  60% {
    -moz-transform: translateX(10px);
  }

  70% {
    -moz-transform: translateX(-10px);
  }

  80% {
    -moz-transform: translateX(10px);
  }

  90% {
    -moz-transform: translateX(-10px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@-moz-keyframes rotateInDownLeft {
  0% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(-90deg);
    opacity: 0;
  }

  100% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }
}
@-moz-keyframes rotateInUpLeft {
  0% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(90deg);
    opacity: 0;
  }

  100% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }
}
@-moz-keyframes rotateInUpRight {
  0% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(-90deg);
    opacity: 0;
  }

  100% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }
}
@-moz-keyframes rotateInDownRight {
  0% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(90deg);
    opacity: 0;
  }

  100% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }
}
@-moz-keyframes rotateOutDownLeft {
  0% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }

  100% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(90deg);
    opacity: 0;
  }
}
@-moz-keyframes rotateOutUpLeft {
  0% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }

  100% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(-90deg);
    opacity: 0;
  }
}
@-moz-keyframes rotateOutDownRight {
  0% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }

  100% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(-90deg);
    opacity: 0;
  }
}
@-moz-keyframes rotateOutUpRight {
  0% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }

  100% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(90deg);
    opacity: 0;
  }
}
@-moz-keyframes rotateIn {
  0% {
    -moz-transform-origin: center center;
    -moz-transform: rotate(-200deg);
    opacity: 0;
  }

  100% {
    -moz-transform-origin: center center;
    -moz-transform: rotate(0);
    opacity: 1;
  }
}
@-moz-keyframes rotateOut {
  0% {
    -moz-transform-origin: center center;
    -moz-transform: rotate(0);
    opacity: 1;
  }

  100% {
    -moz-transform-origin: center center;
    -moz-transform: rotate(200deg);
    opacity: 0;
  }
}
@-moz-keyframes tada {
  0% {
    -moz-transform: scale(1);
  }

  10% {
    -moz-transform: scale(0.9) rotate(-3deg);
  }

  20% {
    -moz-transform: scale(0.9) rotate(-3deg);
  }

  30% {
    -moz-transform: scale(1.1) rotate(3deg);
  }

  40% {
    -moz-transform: scale(1.1) rotate(-3deg);
  }

  50% {
    -moz-transform: scale(1.1) rotate(3deg);
  }

  60% {
    -moz-transform: scale(1.1) rotate(-3deg);
  }

  70% {
    -moz-transform: scale(1.1) rotate(3deg);
  }

  80% {
    -moz-transform: scale(1.1) rotate(-3deg);
  }

  90% {
    -moz-transform: scale(1.1) rotate(3deg);
  }

  100% {
    -moz-transform: scale(1) rotate(0);
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-ms-keyframes fadeInUp {
  0% {
    opacity: 0;
    -ms-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}
@-ms-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -ms-transform: translateY(0);
  }

  100% {
    opacity: 0;
    -ms-transform: translateY(-20px);
  }
}
@-ms-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}
@-ms-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -ms-transform: translateY(0);
  }

  100% {
    opacity: 0;
    -ms-transform: translateY(20px);
  }
}
@-ms-keyframes fadeInRight {
  0% {
    opacity: 0;
    -ms-transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -ms-transform: translateX(0);
  }
}
@-ms-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -ms-transform: translateX(0);
  }

  100% {
    opacity: 0;
    -ms-transform: translateX(-20px);
  }
}
@-ms-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -ms-transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -ms-transform: translateX(0);
  }
}
@-ms-keyframes fadeOutRight {
  0% {
    opacity: 1;
    -ms-transform: translateX(0);
  }

  100% {
    opacity: 0;
    -ms-transform: translateX(20px);
  }
}
@-ms-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -ms-transform: translateY(2000px);
  }

  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}
@-ms-keyframes fadeOutUpBig {
  0% {
    opacity: 1;
    -ms-transform: translateY(0);
  }

  100% {
    opacity: 0;
    -ms-transform: translateY(-2000px);
  }
}
@-ms-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -ms-transform: translateY(-2000px);
  }

  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}
@-ms-keyframes fadeOutDownBig {
  0% {
    opacity: 1;
    -ms-transform: translateY(0);
  }

  100% {
    opacity: 0;
    -ms-transform: translateY(2000px);
  }
}
@-ms-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -ms-transform: translateX(2000px);
  }

  100% {
    opacity: 1;
    -ms-transform: translateX(0);
  }
}
@-ms-keyframes fadeOutLeftBig {
  0% {
    opacity: 1;
    -ms-transform: translateX(0);
  }

  100% {
    opacity: 0;
    -ms-transform: translateX(-2000px);
  }
}
@-ms-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -ms-transform: translateX(-2000px);
  }

  100% {
    opacity: 1;
    -ms-transform: translateX(0);
  }
}
@-ms-keyframes fadeOutRightBig {
  0% {
    opacity: 1;
    -ms-transform: translateX(0);
  }

  100% {
    opacity: 0;
    -ms-transform: translateX(2000px);
  }
}
@-ms-keyframes bounceIn {
  0% {
    opacity: 0;
    -ms-transform: scale(0.3);
  }

  50% {
    opacity: 1;
    -ms-transform: scale(1.05);
  }

  70% {
    -ms-transform: scale(0.9);
  }

  100% {
    -ms-transform: scale(1);
  }
}
@-ms-keyframes bounceInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -ms-transform: translateY(30px);
  }

  80% {
    -ms-transform: translateY(-10px);
  }

  100% {
    -ms-transform: translateY(0);
  }
}
@-ms-keyframes bounceInUp {
  0% {
    opacity: 0;
    -ms-transform: translateY(2000px);
  }

  60% {
    opacity: 1;
    -ms-transform: translateY(-30px);
  }

  80% {
    -ms-transform: translateY(10px);
  }

  100% {
    -ms-transform: translateY(0);
  }
}
@-ms-keyframes bounceInRight {
  0% {
    opacity: 0;
    -ms-transform: translateX(2000px);
  }

  60% {
    opacity: 1;
    -ms-transform: translateX(-30px);
  }

  80% {
    -ms-transform: translateX(10px);
  }

  100% {
    -ms-transform: translateX(0);
  }
}
@-ms-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -ms-transform: translateX(-2000px);
  }

  60% {
    opacity: 1;
    -ms-transform: translateX(30px);
  }

  80% {
    -ms-transform: translateX(-10px);
  }

  100% {
    -ms-transform: translateX(0);
  }
}
@-ms-keyframes bounceOut {
  0% {
    -ms-transform: scale(1);
  }

  25% {
    -ms-transform: scale(0.95);
  }

  50% {
    opacity: 1;
    -ms-transform: scale(1.1);
  }

  100% {
    opacity: 0;
    -ms-transform: scale(0.3);
  }
}
@-ms-keyframes bounceOutUp {
  0% {
    -ms-transform: translateY(0);
  }

  20% {
    opacity: 1;
    -ms-transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -ms-transform: translateY(-2000px);
  }
}
@-ms-keyframes bounceOutDown {
  0% {
    -ms-transform: translateY(0);
  }

  20% {
    opacity: 1;
    -ms-transform: translateY(-20px);
  }

  100% {
    opacity: 0;
    -ms-transform: translateY(2000px);
  }
}
@-ms-keyframes bounceOutLeft {
  0% {
    -ms-transform: translateX(0);
  }

  20% {
    opacity: 1;
    -ms-transform: translateX(20px);
  }

  100% {
    opacity: 0;
    -ms-transform: translateX(-2000px);
  }
}
@-ms-keyframes bounceOutRight {
  0% {
    -ms-transform: translateX(0);
  }

  20% {
    opacity: 1;
    -ms-transform: translateX(-20px);
  }

  100% {
    opacity: 0;
    -ms-transform: translateX(2000px);
  }
}
@-ms-keyframes flash {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-ms-keyframes bounce {
  0% {
    -ms-transform: translateY(0);
  }

  20% {
    -ms-transform: translateY(0);
  }

  40% {
    -ms-transform: translateY(-30px);
  }

  50% {
    -ms-transform: translateY(0);
  }

  60% {
    -ms-transform: translateY(-15px);
  }

  80% {
    -ms-transform: translateY(0);
  }

  100% {
    -ms-transform: translateY(0);
  }
}
@-ms-keyframes shake {
  0% {
    -ms-transform: translateX(0);
  }

  10% {
    -ms-transform: translateX(-10px);
  }

  20% {
    -ms-transform: translateX(10px);
  }

  30% {
    -ms-transform: translateX(-10px);
  }

  40% {
    -ms-transform: translateX(10px);
  }

  50% {
    -ms-transform: translateX(-10px);
  }

  60% {
    -ms-transform: translateX(10px);
  }

  70% {
    -ms-transform: translateX(-10px);
  }

  80% {
    -ms-transform: translateX(10px);
  }

  90% {
    -ms-transform: translateX(-10px);
  }

  100% {
    -ms-transform: translateX(0);
  }
}
@-ms-keyframes rotateInDownLeft {
  0% {
    -ms-transform-origin: left bottom;
    -ms-transform: rotate(-90deg);
    opacity: 0;
  }

  100% {
    -ms-transform-origin: left bottom;
    -ms-transform: rotate(0);
    opacity: 1;
  }
}
@-ms-keyframes rotateInUpLeft {
  0% {
    -ms-transform-origin: left bottom;
    -ms-transform: rotate(90deg);
    opacity: 0;
  }

  100% {
    -ms-transform-origin: left bottom;
    -ms-transform: rotate(0);
    opacity: 1;
  }
}
@-ms-keyframes rotateInUpRight {
  0% {
    -ms-transform-origin: right bottom;
    -ms-transform: rotate(-90deg);
    opacity: 0;
  }

  100% {
    -ms-transform-origin: right bottom;
    -ms-transform: rotate(0);
    opacity: 1;
  }
}
@-ms-keyframes rotateInDownRight {
  0% {
    -ms-transform-origin: right bottom;
    -ms-transform: rotate(90deg);
    opacity: 0;
  }

  100% {
    -ms-transform-origin: right bottom;
    -ms-transform: rotate(0);
    opacity: 1;
  }
}
@-ms-keyframes rotateOutDownLeft {
  0% {
    -ms-transform-origin: left bottom;
    -ms-transform: rotate(0);
    opacity: 1;
  }

  100% {
    -ms-transform-origin: left bottom;
    -ms-transform: rotate(90deg);
    opacity: 0;
  }
}
@-ms-keyframes rotateOutUpLeft {
  0% {
    -ms-transform-origin: left bottom;
    -ms-transform: rotate(0);
    opacity: 1;
  }

  100% {
    -ms-transform-origin: left bottom;
    -ms-transform: rotate(-90deg);
    opacity: 0;
  }
}
@-ms-keyframes rotateOutDownRight {
  0% {
    -ms-transform-origin: right bottom;
    -ms-transform: rotate(0);
    opacity: 1;
  }

  100% {
    -ms-transform-origin: right bottom;
    -ms-transform: rotate(-90deg);
    opacity: 0;
  }
}
@-ms-keyframes rotateOutUpRight {
  0% {
    -ms-transform-origin: right bottom;
    -ms-transform: rotate(0);
    opacity: 1;
  }

  100% {
    -ms-transform-origin: right bottom;
    -ms-transform: rotate(90deg);
    opacity: 0;
  }
}
@-ms-keyframes rotateIn {
  0% {
    -ms-transform-origin: center center;
    -ms-transform: rotate(-200deg);
    opacity: 0;
  }

  100% {
    -ms-transform-origin: center center;
    -ms-transform: rotate(0);
    opacity: 1;
  }
}
@-ms-keyframes rotateOut {
  0% {
    -ms-transform-origin: center center;
    -ms-transform: rotate(0);
    opacity: 1;
  }

  100% {
    -ms-transform-origin: center center;
    -ms-transform: rotate(200deg);
    opacity: 0;
  }
}
@-ms-keyframes tada {
  0% {
    -ms-transform: scale(1);
  }

  10% {
    -ms-transform: scale(0.9) rotate(-3deg);
  }

  20% {
    -ms-transform: scale(0.9) rotate(-3deg);
  }

  30% {
    -ms-transform: scale(1.1) rotate(3deg);
  }

  40% {
    -ms-transform: scale(1.1) rotate(-3deg);
  }

  50% {
    -ms-transform: scale(1.1) rotate(3deg);
  }

  60% {
    -ms-transform: scale(1.1) rotate(-3deg);
  }

  70% {
    -ms-transform: scale(1.1) rotate(3deg);
  }

  80% {
    -ms-transform: scale(1.1) rotate(-3deg);
  }

  90% {
    -ms-transform: scale(1.1) rotate(3deg);
  }

  100% {
    -ms-transform: scale(1) rotate(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(20px);
  }
}
@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOutUpBig {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-2000px);
  }
}
@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOutDownBig {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(2000px);
  }
}
@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeOutLeftBig {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-2000px);
  }
}
@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeOutRightBig {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(2000px);
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }

  70% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    transform: translateY(30px);
  }

  80% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes bounceInUp {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }

  60% {
    opacity: 1;
    transform: translateY(-30px);
  }

  80% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }

  60% {
    opacity: 1;
    transform: translateX(-30px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }

  60% {
    opacity: 1;
    transform: translateX(30px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes bounceOut {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.95);
  }

  50% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    opacity: 0;
    transform: scale(0.3);
  }
}
@keyframes bounceOutUp {
  0% {
    transform: translateY(0);
  }

  20% {
    opacity: 1;
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
    transform: translateY(-2000px);
  }
}
@keyframes bounceOutDown {
  0% {
    transform: translateY(0);
  }

  20% {
    opacity: 1;
    transform: translateY(-20px);
  }

  100% {
    opacity: 0;
    transform: translateY(2000px);
  }
}
@keyframes bounceOutLeft {
  0% {
    transform: translateX(0);
  }

  20% {
    opacity: 1;
    transform: translateX(20px);
  }

  100% {
    opacity: 0;
    transform: translateX(-2000px);
  }
}
@keyframes bounceOutRight {
  0% {
    transform: translateX(0);
  }

  20% {
    opacity: 1;
    transform: translateX(-20px);
  }

  100% {
    opacity: 0;
    transform: translateX(2000px);
  }
}
@keyframes flash {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  50% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(-15px);
  }

  80% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }

  10% {
    transform: translateX(-10px);
  }

  20% {
    transform: translateX(10px);
  }

  30% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(10px);
  }

  50% {
    transform: translateX(-10px);
  }

  60% {
    transform: translateX(10px);
  }

  70% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }

  90% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes rotateInDownLeft {
  0% {
    transform-origin: left bottom;
    transform: rotate(-90deg);
    opacity: 0;
  }

  100% {
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotateInUpLeft {
  0% {
    transform-origin: left bottom;
    transform: rotate(90deg);
    opacity: 0;
  }

  100% {
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotateInUpRight {
  0% {
    transform-origin: right bottom;
    transform: rotate(-90deg);
    opacity: 0;
  }

  100% {
    transform-origin: right bottom;
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotateInDownRight {
  0% {
    transform-origin: right bottom;
    transform: rotate(90deg);
    opacity: 0;
  }

  100% {
    transform-origin: right bottom;
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotateOutDownLeft {
  0% {
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1;
  }

  100% {
    transform-origin: left bottom;
    transform: rotate(90deg);
    opacity: 0;
  }
}
@keyframes rotateOutUpLeft {
  0% {
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1;
  }

  100% {
    transform-origin: left bottom;
    transform: rotate(-90deg);
    opacity: 0;
  }
}
@keyframes rotateOutDownRight {
  0% {
    transform-origin: right bottom;
    transform: rotate(0);
    opacity: 1;
  }

  100% {
    transform-origin: right bottom;
    transform: rotate(-90deg);
    opacity: 0;
  }
}
@keyframes rotateOutUpRight {
  0% {
    transform-origin: right bottom;
    transform: rotate(0);
    opacity: 1;
  }

  100% {
    transform-origin: right bottom;
    transform: rotate(90deg);
    opacity: 0;
  }
}
@keyframes rotateIn {
  0% {
    transform-origin: center center;
    transform: rotate(-200deg);
    opacity: 0;
  }

  100% {
    transform-origin: center center;
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotateOut {
  0% {
    transform-origin: center center;
    transform: rotate(0);
    opacity: 1;
  }

  100% {
    transform-origin: center center;
    transform: rotate(200deg);
    opacity: 0;
  }
}
@keyframes tada {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(0.9) rotate(-3deg);
  }

  20% {
    transform: scale(0.9) rotate(-3deg);
  }

  30% {
    transform: scale(1.1) rotate(3deg);
  }

  40% {
    transform: scale(1.1) rotate(-3deg);
  }

  50% {
    transform: scale(1.1) rotate(3deg);
  }

  60% {
    transform: scale(1.1) rotate(-3deg);
  }

  70% {
    transform: scale(1.1) rotate(3deg);
  }

  80% {
    transform: scale(1.1) rotate(-3deg);
  }

  90% {
    transform: scale(1.1) rotate(3deg);
  }

  100% {
    transform: scale(1) rotate(0);
  }
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: yellow;
  color: black;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: sans-serif;
  line-height: 1;
  font-size: 16px;
  color: #292929;
}

a {
  text-decoration: none;
}

.content3 .ourtimetable .box1, .content3 .ourtimetable .box2, .content3 .ourtimetable .box3, .slider, .content1, .list1, .content2, .mainprograms, .ourtraining, .list2, .content3, .events, .content4, .about, .content5, .contactform, .contactform .btns {
  zoom: 1;
}
.content3 .ourtimetable .box1:before, .content3 .ourtimetable .box2:before, .content3 .ourtimetable .box3:before, .slider:before, .content1:before, .list1:before, .content2:before, .mainprograms:before, .ourtraining:before, .list2:before, .content3:before, .events:before, .content4:before, .about:before, .content5:before, .contactform:before, .contactform .btns:before {
  content: "";
  display: table;
}
.content3 .ourtimetable .box1:after, .content3 .ourtimetable .box2:after, .content3 .ourtimetable .box3:after, .slider:after, .content1:after, .list1:after, .content2:after, .mainprograms:after, .ourtraining:after, .list2:after, .content3:after, .events:after, .content4:after, .about:after, .content5:after, .contactform:after, .contactform .btns:after {
  content: "";
  display: table;
  clear: both;
}

.content2, .content3, .content4, .content5 {
  padding: 25px 30px 45px 44px;
  background: white;
  box-shadow: 0 0 5px #dbdbdb;
}

.content1 h2, .content2 h2, .content3 h2, .content4 h2, .content5 h2 {
  font-size: 30px;
  font: Arial, Helvetica, sans-serif;
  padding-bottom: 12px;
}

.content1 em, .content2 h2 em, .content3 h2 em, .content4 h2 em, .content5 h2 em {
  color: #01a5ca;
}

.list1 h3, .mainprograms h3, .ourtraining h3, .events h3, .content4 h3, .about h3 {
  font-size: 14px;
  padding-bottom: 5px;
}

.list1 p, .mainprograms p, .events p, .content4 p, .about p {
  line-height: 1.8;
  font: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 14px;
}

.img-border, .list2 .img {
  float: left;
  border: 5px solid #f4f4f4;
}

.service li a, .mainprograms li a, .events li a, .about li a {
  display: block;
  padding-left: 20px;
  background: url('../images/dot-list.jpg?1382119521') no-repeat 0 50%;
  color: #292929;
  line-height: 25px;
  font-size: 14px;
}
.service li a:hover, .mainprograms li a:hover, .events li a:hover, .about li a:hover {
  color: #01a5ca;
}

.find-text, .contactform .form-text, .contactform .message-text {
  border: 1px solid #f4f4f4;
  color: #bebebe;
  text-indent: 1em;
  padding: 11px 9px 12px 11px;
  font-size: 14px;
}

.find-btn, .more, .events .more, .contactform .form-button {
  padding: 12px 16px 13px 16px;
  color: #01a5ca;
  border: none;
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  font-weight: bold;
  background: #f4f4f4;
}
.find-btn:hover, .more:hover, .contactform .form-button:hover {
  color: #292929;
  background: #d3d1d1;
}

.content3 .ourtimetable .box1, .content3 .ourtimetable .box2, .content3 .ourtimetable .box3 {
  padding-bottom: 15px;
}
.content3 .ourtimetable .box1 section, .content3 .ourtimetable .box2 section, .content3 .ourtimetable .box3 section {
  float: left;
  width: 170px;
  margin-right: 15px;
}
.content3 .ourtimetable .box1 section p, .content3 .ourtimetable .box2 section p, .content3 .ourtimetable .box3 section p {
  font-size: 14px;
}

body {
  background: url('../images/bg.jpg?1382119521');
}

.bg-img {
  background: url('../images/bg-img.gif?1363049206') 0 0 no-repeat;
  width: 150px;
  height: 6px;
  position: absolute;
  top: -6px;
  left: -152px;
}

.wrap {
  width: 940px;
  margin: 0 auto;
}

.header {
  position: relative;
  height: 115px;
  margin-bottom: 35px;
}
.header h1 a {
  display: block;
  background: url("../images/logo.png");
  width: 172px;
  height: 83px;
  position: absolute;
  top: 20px;
  left: 10px;
}

.topbar {
  position: absolute;
  right: 0px;
  top: 40px;
}
.topbar a {
  float: left;
  margin-left: 15px;
}
.topbar .fb {
  display: block;
  background: url("../images/dot-facebook.png");
  width: 23px;
  height: 23px;
}
.topbar .tweet {
  display: block;
  background: url("../images/dot-tweet.png");
  width: 23px;
  height: 23px;
}

.menu {
  position: absolute;
  bottom: 0;
  right: 15px;
}
.menu h2 {
  display: none;
}
.menu .current a {
  color: #01a5ca;
}
.menu li {
  float: left;
}
.menu a {
  display: block;
  margin-left: 35px;
  color: #292929;
  font-weight: bold;
}
.menu a:hover {
  color: #01a5ca;
}

.footer {
  text-align: center;
  line-height: 1.8;
  padding: 32px 0 45px 0;
  font-size: 14px;
}
.footer a {
  color: #01a5ca;
}

.slider {
  margin-bottom: 35px;
  background: #292929;
}
.slider .bjqs {
  position: relative;
  z-index: 9;
}
.slider .bjqs li {
  position: absolute;
  top: 0;
  width: 100%;
}
.slider .bjqs li .slide-left {
  width: 640px;
  float: left;
}
.slider .bjqs li .slide-right {
  width: 235px;
  float: right;
  height: inherit;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: 685px;
  top: 37px;
  z-index: 99;
}
.slider .bjqs li .slide-right h2 {
  font-size: 45px;
  color: #01a5ca;
  margin-bottom: 20px;
}
.slider .bjqs li .slide-right p {
  color: #949494;
  line-height: 1.8;
  margin-bottom: 35px;
}
.slider .bjqs li .slide-right .more {
  background: #3f3f3f;
  padding: 10px 25px;
  color: white;
}
.slider .bjqs li .slide-right .more:hover {
  color: white;
  background: #01a5ca;
}

.introduce {
  background: white;
  box-shadow: 0 0 5px #dbdbdb;
  padding: 25px 30px 29px 44px;
  margin-bottom: 35px;
  line-height: 33px;
  letter-spacing: 0.2px;
  font-size: 17px;
}
.introduce em {
  color: #01a5ca;
}

.content1 {
  padding: 25px 30px 45px 44px;
  box-shadow: 0 0 5px #dbdbdb;
  background: white;
}

.latest {
  width: 575px;
  float: left;
}

.list1 {
  margin-bottom: 20px;
}
.list1 h3 {
  margin-left: 220px;
}
.list1 p {
  margin-left: 220px;
}

.side {
  float: right;
  width: 225px;
}

.find {
  margin-top: 27px;
}

.find-text {
  margin-top: 7px;
  margin-bottom: 15px;
}

.mainprograms {
  width: 225px;
  float: left;
  margin-right: 50px;
  line-height: 1.8;
}
.mainprograms p {
  color: #292929;
  padding-bottom: 15px;
}
.mainprograms li a {
  color: #01a5ca;
  padding-bottom: 5px;
}

.ourtraining {
  width: 590px;
  float: left;
  line-height: 1.8;
}

.list2 {
  margin-top: 33px;
}
.list2 h3 {
  margin-left: 226px;
  padding-bottom: 5px;
  font-size: 14px;
}
.list2 p {
  margin-left: 226px;
  line-height: 1.8;
  font-size: 14px;
}
.list2 .img {
  margin: 3px 30px 0 0;
}

.content3 .ourtimetable {
  float: left;
  width: 575px;
  margin-right: 65px;
}
.content3 .ourtimetable p {
  line-height: 1.8;
}
.content3 .ourtimetable .box1 {
  border-bottom: #e5e5e5 1px solid;
}
.content3 .ourtimetable .box2 {
  border-bottom: #e5e5e5 1px solid;
}
.content3 .ourtimetable .time {
  color: #01a5ca;
  margin-top: 5px;
}

.events {
  width: 225px;
  float: left;
}
.events li a {
  float: left;
  color: #01a5ca;
  padding-bottom: 5px;
}
.events li a:hover {
  color: #292929;
}
.events .img {
  border: 5px solid #f4f4f4;
  margin: 13px 0 12px 0;
}
.events .more {
  margin-top: 15px;
}

.content4 {
  line-height: 1.8;
}
.content4 .care {
  float: left;
  width: 575px;
  margin-right: 65px;
}
.content4 p {
  padding-bottom: 10px;
}
.content4 .list1 .img {
  border: 5px solid #f4f4f4;
  margin: 3px 30px 0 0;
}
.content4 .list1 h3 {
  margin-top: -165px;
  margin-left: 230px;
}
.content4 .list1 p {
  margin-left: 230px;
}
.content4 .list1 .find-btn {
  margin-left: 230px;
}

.about {
  float: left;
  width: 225px;
}
.about p {
  color: #292929;
  padding-bottom: 15px;
}
.about li a {
  float: left;
  margin-bottom: 10px;
  color: #01a5ca;
  line-height: 1.5;
}
.about li a:hover {
  color: #292929;
}

.content5 {
  line-height: 1.8;
}
.content5 .findus {
  float: left;
  width: 225px;
  margin-right: 50px;
}
.content5 .findus dl {
  margin-top: 12px;
  font-size: 14px;
}
.content5 .findus dt {
  color: #01a5ca;
}
.content5 .findus span {
  width: 83px;
  float: left;
}
.content5 .findus a {
  color: #01a5ca;
  text-decoration: underline;
}

.contactform {
  float: left;
  width: 590px;
}
.contactform .form-text {
  width: 278px;
  height: 17px;
  float: left;
  margin-bottom: 10px;
}
.contactform .message-text {
  padding: 12px 0px 0px 11px;
  width: 562px;
  height: 192px;
  float: left;
  margin-bottom: 10px;
}
.contactform .btns {
  float: left;
  text-align: right;
  width: 575px;
  padding-top: 10px;
}
.contactform .btns a {
  display: inline-block;
  margin-left: 10px;
}
